defusedxml==0.5.0
dj-database-url==0.4.1
Django==1.10.4
django-allauth==0.31.0
gunicorn==19.6.0
oauthlib==2.0.1
psycopg2==2.6.2
python3-openid==3.1.0
requests==2.13.0
requests-oauthlib==0.8.0
whitenoise==3.2
